In [1]:
import pandas as pd


# get one exhibition with N artists

csv_path = "~/data1/moma/exhibitions/MoMAExhibitions1929to1989.csv"
data = pd.read_csv(csv_path, encoding="ISO-8859-1")

e = data.loc[data["ExhibitionNumber"] == str(1)]


artists = e.loc[e["ExhibitionRole"] == "Artist"]

rows = artists[['ConstituentID', 'WikidataID', 'DisplayName', 'ExhibitionNumber', 'ExhibitionTitle']]

obj = {}

for a, b in rows.iterrows():
    print(b['DisplayName'])
    
rows

Paul Cézanne
Paul Gauguin
Vincent van Gogh
Georges-Pierre Seurat

,ConstituentID,WikidataID,DisplayName,ExhibitionNumber,ExhibitionTitle
1,1053.0,Q35548,Paul Cézanne,1,"Cézanne, Gauguin, Seurat, Van Gogh"
2,2098.0,Q37693,Paul Gauguin,1,"Cézanne, Gauguin, Seurat, Van Gogh"
3,2206.0,Q5582,Vincent van Gogh,1,"Cézanne, Gauguin, Seurat, Van Gogh"
4,5358.0,Q34013,Georges-Pierre Seurat,1,"Cézanne, Gauguin, Seurat, Van Gogh"

In [74]:
e.get

TypeError: 'method' object is not subscriptable