# MoMA Exhibitions

## Questions

- What is the ratio of men to women?
- What artist shows up the most frequently?
- What are the titles of exhibitions with artists under or equal to 50?
- How many exhibitions are there with artists under or equal to 50?

### What is the ratio of men to women?

In [124]:
import pandas as pd

In [125]:
df = pd.read_csv('~/data1/moma/exhibitions/MoMAExhibitions1929to1989.csv', encoding="iso8859-1")

In [126]:
df.columns

Index(['ExhibitionID', 'ExhibitionNumber', 'ExhibitionTitle',
       'ExhibitionCitationDate', 'ExhibitionBeginDate', 'ExhibitionEndDate',
       'ExhibitionSortOrder', 'ExhibitionURL', 'ExhibitionRole',
       'ExhibitionRoleinPressRelease', 'ConstituentID', 'ConstituentType',
       'DisplayName', 'AlphaSort', 'FirstName', 'MiddleName', 'LastName',
       'Suffix', 'Institution', 'Nationality', 'ConstituentBeginDate',
       'ConstituentEndDate', 'ArtistBio', 'Gender', 'VIAFID', 'WikidataID',
       'ULANID', 'ConstituentURL'],
      dtype='object')

In [127]:
genders = df[['DisplayName', 'Gender', 'ExhibitionBeginDate']].drop_duplicates()

In [35]:
females = genders.loc[genders['Gender'] == 'Female']

In [40]:
len(females)

686

In [45]:
males = genders.loc[(genders['Gender'] == ('Male')) | (genders['Gender'] == ('male'))]

In [46]:
len(males)

4358

In [48]:
len(males) / len(females)

6.352769679300292

**For every 6.3 men there is one woman artist exhibited for these years.**

Let's see a plot of woman grouped per year.

In [128]:
gender_years = df[['DisplayName', 'Gender', 'ExhibitionBeginDate']]

In [129]:
def split_year(drow):
    field = drow.get('ExhibitionBeginDate').values[0]
    return str.split(field, "/")[-1]

In [130]:
gender_years.assign(year=(lambda x: str.split(x.ExhibitionBeginDate.get_values()[0], '/')[-1]))

                        DisplayName  Gender ExhibitionBeginDate  year
0               Alfred H. Barr, Jr.    Male           11/7/1929  1929
1                      Paul CÃ©zanne    Male           11/7/1929  1929
2                      Paul Gauguin    Male           11/7/1929  1929
3                  Vincent van Gogh    Male           11/7/1929  1929
4             Georges-Pierre Seurat    Male           11/7/1929  1929
5                Charles Burchfield    Male          12/12/1929  1929
6                    Charles Demuth    Male          12/12/1929  1929
7                 Preston Dickinson    Male          12/12/1929  1929
8                  Lyonel Feininger    Male          12/12/1929  1929
9      George Overbury ("Pop") Hart    Male          12/12/1929  1929
10                    Edward Hopper    Male          12/12/1929  1929
11                  Bernard Karfiol    Male          12/12/1929  1929
12                    Rockwell Kent    Male          12/12/1929  1929
13                        Walt Kuhn    Male          12/12/1929  1929
14                  Yasuo Kuniyoshi    Male          12/12/1929  1929
15                    Ernest Lawson    Male          12/12/1929  1929
16                       John Marin    Male          12/12/1929  1929
17             Kenneth Hayes Miller    Male          12/12/1929  1929
18                 Georgia O'Keeffe  Female          12/12/1929  1929
19                     Jules Pascin    Male          12/12/1929  1929
20                       John Sloan    Male          12/12/1929  1929
21                  Eugene Speicher    Male          12/12/1929  1929
22                   Maurice Sterne    Male          12/12/1929  1929
23                        Max Weber    Male          12/12/1929  1929
24                   Pierre Bonnard    Male           1/19/1930  1929
25                   Georges Braque    Male           1/19/1930  1929
26                     Marc Chagall    Male           1/19/1930  1929
27               Giorgio de Chirico    Male           1/19/1930  1929
28                  Robert Delaunay    Male           1/19/1930  1929
29                     AndrÃ© Derain    Male           1/19/1930  1929
...                             ...     ...                 ...   ...
34528               Jackson Pollock    Male          11/16/1989  1929
34529              Christian Rohlfs    Male          11/16/1989  1929
34530               Georges Rouault    Male          11/16/1989  1929
34531     Henri de Toulouse-Lautrec    Male          11/16/1989  1929
34532                Jacques Villon    Male          11/16/1989  1929
34533                     Max Weber    Male          11/16/1989  1929
34534                           NaN     NaN          11/30/1989  1929
34535             Christopher Mount     NaN           12/9/1989  1929
34536                 Kiyoshi Awazu    Male           12/9/1989  1929
34537                 Shigeo Fukuda    Male           12/9/1989  1929
34538             Takenobu Igarashi    Male           12/9/1989  1929
34539                   Akira Inada    Male           12/9/1989  1929
34540               Yusaku Kamekura    Male           12/9/1989  1929
34541                Seitaro Kuroda    Male           12/9/1989  1929
34542                Shin Matsunaga    Male           12/9/1989  1929
34543                Kazumasa Nagai    Male           12/9/1989  1929
34544               Makoto Nakamura    Male           12/9/1989  1929
34545                Shigeo Okamoto    Male           12/9/1989  1929
34546                  Makoto Saito    Male           12/9/1989  1929
34547                   Koichi Sato    Male           12/9/1989  1929
34548                 Kohei Sugiura    Male           12/9/1989  1929
34549                   Ikko Tanaka    Male           12/9/1989  1929
34550                Masatoshi Toda    Male           12/9/1989  1929
34551           Tokiyoshi Tsubouchi    Male           12/9/1989  1929
34552             Akihiko Tsukamoto    Male           12/9/1989  1929
34553                 Aijiro Wakita    Male           12/9/1989  1929
34554                 Yoji Yamamoto    Male           12/9/1989  1929
34555             Ryuichi Yamashiro    Male           12/9/1989  1929
34556                Tadanori Yokoo    Male           12/9/1989  1929
34557                  Mary Corliss     NaN          12/15/1989  1929

[34558 rows x 4 columns]

In [115]:
df.assign??

In [131]:
gender_years

                        DisplayName  Gender ExhibitionBeginDate
0               Alfred H. Barr, Jr.    Male           11/7/1929
1                      Paul CÃ©zanne    Male           11/7/1929
2                      Paul Gauguin    Male           11/7/1929
3                  Vincent van Gogh    Male           11/7/1929
4             Georges-Pierre Seurat    Male           11/7/1929
5                Charles Burchfield    Male          12/12/1929
6                    Charles Demuth    Male          12/12/1929
7                 Preston Dickinson    Male          12/12/1929
8                  Lyonel Feininger    Male          12/12/1929
9      George Overbury ("Pop") Hart    Male          12/12/1929
10                    Edward Hopper    Male          12/12/1929
11                  Bernard Karfiol    Male          12/12/1929
12                    Rockwell Kent    Male          12/12/1929
13                        Walt Kuhn    Male          12/12/1929
14                  Yasuo Kuniyoshi    Male          12/12/1929
15                    Ernest Lawson    Male          12/12/1929
16                       John Marin    Male          12/12/1929
17             Kenneth Hayes Miller    Male          12/12/1929
18                 Georgia O'Keeffe  Female          12/12/1929
19                     Jules Pascin    Male          12/12/1929
20                       John Sloan    Male          12/12/1929
21                  Eugene Speicher    Male          12/12/1929
22                   Maurice Sterne    Male          12/12/1929
23                        Max Weber    Male          12/12/1929
24                   Pierre Bonnard    Male           1/19/1930
25                   Georges Braque    Male           1/19/1930
26                     Marc Chagall    Male           1/19/1930
27               Giorgio de Chirico    Male           1/19/1930
28                  Robert Delaunay    Male           1/19/1930
29                     AndrÃ© Derain    Male           1/19/1930
...                             ...     ...                 ...
34528               Jackson Pollock    Male          11/16/1989
34529              Christian Rohlfs    Male          11/16/1989
34530               Georges Rouault    Male          11/16/1989
34531     Henri de Toulouse-Lautrec    Male          11/16/1989
34532                Jacques Villon    Male          11/16/1989
34533                     Max Weber    Male          11/16/1989
34534                           NaN     NaN          11/30/1989
34535             Christopher Mount     NaN           12/9/1989
34536                 Kiyoshi Awazu    Male           12/9/1989
34537                 Shigeo Fukuda    Male           12/9/1989
34538             Takenobu Igarashi    Male           12/9/1989
34539                   Akira Inada    Male           12/9/1989
34540               Yusaku Kamekura    Male           12/9/1989
34541                Seitaro Kuroda    Male           12/9/1989
34542                Shin Matsunaga    Male           12/9/1989
34543                Kazumasa Nagai    Male           12/9/1989
34544               Makoto Nakamura    Male           12/9/1989
34545                Shigeo Okamoto    Male           12/9/1989
34546                  Makoto Saito    Male           12/9/1989
34547                   Koichi Sato    Male           12/9/1989
34548                 Kohei Sugiura    Male           12/9/1989
34549                   Ikko Tanaka    Male           12/9/1989
34550                Masatoshi Toda    Male           12/9/1989
34551           Tokiyoshi Tsubouchi    Male           12/9/1989
34552             Akihiko Tsukamoto    Male           12/9/1989
34553                 Aijiro Wakita    Male           12/9/1989
34554                 Yoji Yamamoto    Male           12/9/1989
34555             Ryuichi Yamashiro    Male           12/9/1989
34556                Tadanori Yokoo    Male           12/9/1989
34557                  Mary Corliss     NaN          12/15/1989

[34558 rows x 3 columns]